{% extends 'base.html' %}

{% load static %}

{% block title %} | About Us {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">About pCompiler</h1>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Home for compilers</h2>
          <p class="lead">Tools and articles</p>
          <p class="mt-4">
            The name compiler is primarily used for programs that translate source code from a high-level 
            programming language to a lower level language (e.g., assembly language, object code, or machine code) 
            to create an executable program</p>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">What is Compiler</h2>
    <h4>A compiler is a computer program that translates computer code written in one 
      programming language (the source language) into another language (the target language).</h4>
    <hr>
    <a href="#" class="btn btn-secondary text-white btn-lg">View Our Featured Posts</a>
  </section>


{% endblock %}